<h1>Listing orderlists</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orderlists.each do |orderlist| %>
  <tr>
    <td><%= link_to 'Show', orderlist %></td>
    <td><%= link_to 'Edit', edit_orderlist_path(orderlist) %></td>
    <td><%= link_to 'Destroy', orderlist, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Orderlist', new_orderlist_path %>
